@import url("https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap");
body {
    margin: 0;
}
/* 中央寄せ */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*  */
    height: 100vh;
}

/* !サーチバー */
.search-bar {
    margin-bottom: 0.1rem;
    margin-top: 1rem;
}

/* ゴミ捨て詳細 */
.display_ditail {
    margin-bottom: 1rem;
}
