.header {
    font-size: 2rem;
    background-color: black;
    color: aliceblue;
    width: 100vws;
    text-align: center;
    padding: 0 2%;
    /* googlefont */
/*     font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal; */

    /*  */
    display: flex;
    justify-content: space-between;
}
