a {
    text-decoration: none;
    color: inherit;
}
.site-nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 10px auto;
}

.site-nav .icon {
    width: auto;
    height: 35px;
    border-radius: 50%;
    color: burlywood;
}
