a {
    text-decoration: none;
    color: inherit;
}
p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.site-nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 10px auto;
}

.site-nav .icon {
    width: auto;
    height: 35px;
    border-radius: 50%;
    color: burlywood;
}
